body{
	background-color: white;
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
}

li,p{
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 25px;
	margin-top: 25px;
	text-align: justify;
}

a{
	color: #F37423;
}

h1,h2,h3{
	text-align: center;
	font-family: sans-serif;
	letter-spacing: 5px;
}

h2{
	font-size: 40px;
}

img{
	width: 800px;
	height: auto;
}

.center{
	margin-top: 6%;
	width: 70%;
}