@import "variables.less";
@import "mixins.less";

body {
  width: 100%;
  height: 100%;
  font-family: @body_font,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: @text_grey;
  background-attachment: fixed;
  background-color: @bg_grey;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 25px;
  font-weight: 900;
  // letter-spacing: .1em;
}
h5 {
  font-family: @body_font,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1,
h2,
h3,
h4,
h6 {
  font-family: @header_font,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

a {
  color: @primary;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: none;
    color: darken(@primary,20%);
  }
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: none;
  text-transform: uppercase;
  font-family: @header_font,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: transparent;
  .navbar-toggle {
    color: @miami_green;
    background-color: @primary;
    font-size: 12px;
    &:focus,
    &:active {
      outline: none;
    }
  }
  .navbar-brand {
    font-weight: 700;
    &:focus {
      outline: none;
    }
  }
  a {
    color: white;
  }
  .nav {
    @media(max-width:767px) {
      background-color:darken(grey, 30%);
    }
    @media(min-width:768px) {
      margin-bottom:-6px;
    }
    li {
      a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
        &:hover {
          color: fade(white, 80%);
          outline: none;
          background-color: transparent;
        }
        &:focus,
        &:active {
          outline: none;
          background-color: transparent;
        }
      }
      &.active {
        outline: none;
        a {
          background-color: fade(white, 30%);
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  @media(min-width:768px) {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    &.top-nav-collapse {
      padding: 0;
      background: @primary;//rgba(0,80,48,.85);
      a {
        color: white;
      }
    }
  }
}

.intro {
  display: table;
  width: 100%;
  height: 100%;
  // padding: 100px 0;
  // text-align: center;
  color: white;
  background: @miami_green;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .intro-body {
    // margin-top: 50px;
    p {
      font-size:20px;
    }
    display: table-cell;
    vertical-align: middle;
    // .intro-text {
    //     font-size: 18px;
    // }
    .brand-heading {
      font-size: 125px;
      @media(max-width:767px){
        font-size:80px;
        text-align:center;
      }
      color:white;
    }
  }
  @media(max-width:767px) {
    height: 100%;
    .small {
      font-size: 10px;
      color:white;
    }
    h2 {
      font-size:20px;
      margin-bottom:0px;
      text-align:center;
    }
    .banner-social-buttons {
      text-align: center;
      // margin-bottom:80px;
    }
  }
  @media(min-width:768px) {
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 125px;
        .small {
          font-size: 40px;
          color:white;
        }
      }
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.content-section {
  //border: 1px solid red;
  h1{
    text-align: left;
  }
  h4{
    text-align: center;
  }

  h2, h3 {
    font-size:36px;
    color: black;
    text-align:center;

  }

  h5, h6 {
    margin-top:25px;
    font-family: @body_font,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:24px;
    color: black;
    //text-align:center;
  }
  height: 100%;
  display: table;
  width:100%;
  font-size: 18px;
  text-align: justify;
  @media(max-width:767px) {
    text-align:center;
    //height: device-height;
    // display: table;
    // width:100%;
  }

}

#sponsor-position {
  vertical-align: top !important;
  padding-top: 5%;
}

#contact {
  @media(min-width:768px){
    h2 {
      font-size:80px;
    }
  }
}
// .col-sm-4 {
//   height: 300px;
// }
.content-body {
  display: table-cell;
  vertical-align: middle;


  @media(max-width:767px) {
    p {
      text-align:center;
    }
    h1 {
      text-align:center;
    }
    padding: 50px 25px 0px;
  }

}
.white-section {
  background-color:white;
}
.grey-section {
  background-color:@bg_grey;
}
.green-section {
  background-color:@miami_green;
  h2 {
    color:white;
  }
  color:white;
  a {
    color:@miami_orange;
    &:hover {
      color: fade(white, 80%);
      outline: none;
      background-color: transparent;
    }
    &:focus,
    &:active {
      outline: none;
      background-color: transparent;
    }
  }
}
#contact {
  background-color:@miami_green;
  h2 {
    color:white;
  }
  color:white;
}
.orange-section {
  background-color:@miami_orange;
  .btn-default {
    border: 1px solid @miami_green;
    color: white;
    background-color: @miami_green;
    &:hover,
    &:focus {
      border: 1px solid @primary;
      outline: none;
      color: white;
      background-color: @primary;
    }
  }
  h2 {
    color:black;
  }
  color:white;
  a {
    color:white;
    &:hover {
      color: fade(white, 80%);
      outline: none;
      background-color: transparent;
    }
    &:focus,
    &:active {
      outline: none;
      background-color: transparent;
    }
  }
}
.black-section {
  background-color:#222222;
  h2 {
    color:white;
  }
  color:#DDDDDD;
  .bluelink {
    color: #3b5998;
  }
  a {

    color:@miami_orange;
    // -webkit-transition: background .3s ease-in-out;
    // -moz-transition: background .3s ease-in-out;
    // transition: background .3s ease-in-out;
    &:hover {
      color: fade(white, 80%);
      outline: none;
      background-color: transparent;
    }
    &:focus,
    &:active {
      outline: none;
      background-color: transparent;
    }
  }
}

.download-section {
  width: 100%;
  padding: 100px 0;
  color: white;
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}

.cat-3, .cat-2, .cat-1 {
  text-align:center;
}

#shure-logo {
  height: 150px;
  @media(max-width:767px) {
    height: 80px;
  }
}
#citrix-logo {
  height: 100px;
  @media(max-width:767px) {
    height: 80px;
  }
  margin-top: 33px;
}
#fb-logo {
  @media(max-width:767px) {
    height: 120px;
  }
  height: 150px;
}
#cas-logo {
  height: 120px;
  @media(max-width:767px) {
    height: 55px;
  }
  margin-top: 48px;
  margin-left: 10px;
}
#csc-logo {
  height: 130px;
  margin-top: 45px;
  margin-right:30px;
}
#coe-logo {
  height: 120px;
  margin-top: 50px;
}
#safac-logo {
  height: 140px;
  margin-top: 60px;
}
#vmware-logo {
  height: 45px;
  margin-top: 60px;
}
#launchpad-logo {
  height: 100px;
  margin-top: 50px;
}
#sg-logo {
  height: 60px;
  margin-top: 60px;
}
#falafel-logo {
  height: 80px;
  margin-top: 60px;
}
#ibm-logo {
  height: 70px;
  margin-top: 40px;
}
#coursera-logo {
  height: 80px;
  margin-top: 50px;
}


@media(min-width:768px) {
  .content-section {
    padding: 100px 0;
    //background-color: orange;
  }

  .download-section {
    padding: 100px 0;
    //background-color: transparent;
  }
}
@media(max-width:767px) {
  .content-section {
    padding-bottom: 100px;
    //background-color: orange;
  }
}
// @media(max-width:767px) {
//   height:100%;
// }
.persondiv {
  height:340px;
  h4 {
    margin-top:20px;
    font-size:18px;
    text-align: center;
    small {
      font-size: 16px;
      color: black;
    }
  }
}
.btn {
  text-transform: uppercase;
  font-family: @header_font,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0;
}

.btn-default {
  border: 1px solid @miami_orange;
  color: white;
  background-color: @miami_orange;
  &:hover,
  &:focus {
    border: 1px solid @primary;
    outline: none;
    color: white;
    background-color: @primary;
  }
}

ul.banner-social-buttons {
  color: white;
  margin-top: 0;
  @media(max-width:1199px) {
    margin-top: 15px;
  }
  @media(max-width:767px) {
    color: white;
    li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

footer {
  padding: 50px 0;
  p {
    margin: 0;
  }
}



img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  webkit-tap-highlight-color: fade(white, 20%);
}

// div {
//   border: 2px solid green;
// }
//
// section {
//   border: 2px solid red;
// }
//
// .container {
//   border: 3px solid purple;
// }


@media(min-width:768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-bottom:none;
    padding-bottom:none;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}

#header-photo {
  width:200px;
  height:200px;
  margin:0 0 35px;
}

.body-photo {
  width: 200px;
  height: 200px;
}
footer {
  background-color:darken(@primary,8%);
}
#specificdiv {
  //border: 1px solid purple;
  background: url(../img/rocket.png) no-repeat center;
  height:600px;
}
#video {
  //margin-top:150px;
  //border : 1px solid red;
}
#videovideo {
  width:640px;
  height:360px;
  @media(max-width:767px) {
    width:auto;
    //border : 1px solid red;
  }
}
.body-image {
  width:100%;
  height:100%;
  margin-bottom:50px;
}
#rocket-photo {
  @media(max-width:767px){
    width:100%;
    height:100%;
  }
}
.photo {
  width:100%;
  height:100%;
}
.col-xs-5 {
  //border: 1px solid blue;
}
.front {
  margin-top: -75px;
}
@media(max-width:767px) {
  p {
    text-align:center;
  }
}
iframe {
  @media(max-width:580px){
    width:100%;
  }
}
.members {
  @media(max-width:450px){
    margin-bottom:100px;
  }
}
blockquote {
  font-style: italic;
}
@media(max-width:767px){
  blockquote {
    p {
      text-align:left;
    }
  }
}

.cdr-heading {
  @media(min-width:768px){
    font-size:56px;
  }
  @media(max-width:767px){
    font-size:66px;
  }
}

body::selection{
  background: #B4DAFF
}

#u {

  height: 400px;
  @media(max-width: 767px){

    margin-top: 0px;
  }
  @media(min-width: 768px){
    margin-top:-20px;
  }
}

#uholder {
  text-align:center;
}

.img-circle{
  padding-bottom: 2%;
}

.sponsor-logo {
  width: 400px;
  margin-bottom: 10px;
}
@media(max-width: 767px){
  .sponsor-logo {
    width: 100%;
    margin-bottom: 10px;
  }
  content-section {
    h4 {
      text-align:center;
    }
  }
}
@media(min-width: 767px){
  .schedule-time {
    text-align: right;
  }
}

#directions-parking {
  font-size: 24px;
}
